name: Criar Issue de Teste

on:
  push:



jobs:
  Criar-Issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Listar arquivos do reposit칩rio
        run: ls -R

      - name: Criar Issue via API
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: "Issue de Teste Autom치tica"
          content-filepath: .github/ISSUE_TEMPLATE/general_issue.md
          labels: needs-review

      - name: Instalar GitHub CLI
        run: sudo apt-get install gh

      - name: Listar Projects V2 do usu치rio
        run: gh project list --owner Fernando-Da-Costa

      - name: Adicionar Issue ao Project
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ISSUE_URL=$(gh issue list --state open --label "needs-review" --json url --jq '.[0].url')
          gh project item-add 1 --owner Fernando-Da-Costa --url "$ISSUE_URL"
